<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "header.html" %}
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            {% include "navbar.html" %}
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">Contact Me</h1>
                            <p class="lead fw-normal text-muted mb-0">Let's code together!</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6 text-center">
                                <ul class="list-unstyled fs-5">
                                    <li class="mb-3">
                                        <i class="bi bi-github me-2 text-primary"></i>
                                        <strong>GitHub:</strong>
                                        <a href="https://github.com/LeoJimenezG"
                                           target="_blank"
                                           class="text-decoration-none text-dark">
                                            LeoJimenezG
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="bi bi-linkedin me-2 text-primary"></i>
                                        <strong>LinkedIn:</strong>
                                        <a href="https://www.linkedin.com/in/leo-jmz-glz-8a5b462ba/"
                                           target="_blank"
                                           class="text-decoration-none text-dark">
                                            Leonardo Jiménez González
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <i class="bi bi-envelope-fill me-2 text-primary"></i>
                                        <strong>Email:</strong>
                                        <a href="mailto:leonardojimenezgz@gmail.com" class="text-decoration-none text-dark">
                                            leonardojimenezgz@gmail.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% include "footer.html" %}
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    </body>
</html>
